.jumbotron {
    color: white;

    background-image: linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.2)),url("../img/uaw.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    text-align: center;
  }

  .hero-text{

    position: relative;
    top: 30%;

  }